#masthead {
  @include padding-left-right;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $color__background-masthead;
  border-bottom: 5px solid $color__border-bottom-masthead;

  @include linx($color__nav-links, $color__nav-links, $color__nav-links, $color__nav-links);

  .flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-branding {

    img {
      max-width: 175px;
    }
  }

  #masthead-tel {
    display: flex;
    justify-content: flex-end;
  }

  .download-file {
    margin-right: 10px;
    display: none;
    text-decoration: none;
    color: $color__download-link !important;
    font-family: $font__bold
  }

  .icon-download {
    margin-right: 10px;
    display: none;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  .tel-link {
    display: none;
    text-decoration: none;
    font-family: $font__bold;
    color: $color__nav-phone;

    img {
      max-width: 30px;
      margin-right: 5px;
    }
  }

  .tel {
    display: none;
    font-size: 1.1em;
  }

  .menu-toggle {
    @include reset;
    margin-left: auto;
    background-color: transparent;
    font-family: $font__regular;
    text-transform: uppercase;
    font-size: 1.4em;
    color: $color__mobile-toggle-btn;

  }

  @include respond-to('450') {

    .flex-wrapper {
      align-items: flex-end;
    }

    .site-branding img {
      max-width: 250px;
    }
    .tel-link {
      display: flex;
      justify-content: flex-end;
    }

  }

  @include respond-to('650') {

    .call {
      display: none;
    }

    .tel {
      display: inline-flex;
    }
  }

  @include respond-to('750') {
    #masthead-tel {
      margin-bottom: .5em;
    }
    .icon-download,
    .download-file {
      display: block;
    }
  }
}