#masthead {
  @include padding-left-right;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $color__background-masthead;
  border-bottom: 5px solid $color__border-bottom-masthead;

  @include linx($color__nav-links, $color__nav-links, $color__nav-links, $color__nav-links);

  .flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tel-link {
    display: flex;
    align-items: center;
  }

  .tel {
    display: none;
  }

  .menu-toggle {
    float: right;
  }

  @include respond-to('750') {
    .flex-wrapper {
      flex-wrap: wrap;
    }

    #masthead-tel {
      // flex: 1 1 50%;
      // margin-left: auto;
    }

    #site-navigation {
      // flex: 1 1 100%;
    }
  }
}