/*--------------------------------------------------------------
## Homepage Slider
--------------------------------------------------------------*/

// .page-template-frontpage-php #content {
//   padding:3em 0 .4em;
// }

// .page-template-frontpage-php #primary {
//   padding-top:1.5em;
// }

.page-template-frontpage-php .flexslider {
  background-color:#00619d;
  color:#FFF;
  padding:1em 0 .3em;
  border:none;
}

.page-template-frontpage-php {
  .home-slider {
    background-color: red;
  }
}
.page-template-frontpage-php .home-slider {
  clear:both;
  position:relative;
}



.page-template-frontpage-php .home-slider ul {
  position:relative;
  min-height:300px;
  list-style:none;
  margin:0;
  padding:0;
  overflow:hidden;
}

.page-template-frontpage-php .home-slider ul li {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  padding:2.5em 1em 1.5em;
  opacity:0;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
  z-index:5;
}

.page-template-frontpage-php .home-slider ul li.active {
  opacity:1;
  z-index:50;
}

.page-template-frontpage-php .home-slider ul li .slide-content-wrapper {
  position:relative;
  z-index:5;
}

.page-template-frontpage-php .home-slider ul li span {
  display:block;
}

.page-template-frontpage-php .home-slider ul li .slide-img {
  position:absolute;
  left:10%;
  right:0;
  top:0;
  bottom:0;
  opacity:.1;
  z-index:1;
}

.page-template-frontpage-php .home-slider ul li .slide-img img {
  max-width:none;
  height:100%;
}

.page-template-frontpage-php .home-slider ul li .slide-content {
  line-height:1.3;
}

.page-template-frontpage-php .home-slider ul li .slide-content p:last-of-type {
  margin-bottom:.3em
}

.page-template-frontpage-php .home-slider ul li span.slide-title {
  font-family: 'alfa_slab_oneregular', serif;
  font-size:2.2em;
  line-height:1.1;
  margin-bottom:.5em;
}

.page-template-frontpage-php .home-slider ul li span.slide-sub-title, .page-template-frontpage-php .home-slider ul li a.slide-link {
  font-family: 'interstatebold';
  text-transform:uppercase;
}

.page-template-frontpage-php .home-slider ul li span.slide-sub-title {
  font-size:1.2em;
  line-height:1.1;
  margin:0 0 .5em;
}

.page-template-frontpage-php .home-slider ul li a.slide-link {
  text-decoration:none;
}

.page-template-frontpage-php .home-slider ul li a.slide-link:hover {
  text-decoration:underline;
}

.page-template-frontpage-php .home-slider ul li.orange {
  background-color:#E75200;
}

.page-template-frontpage-php ul li.orange span.slide-title, .page-template-frontpage-php ul li.orange .slide-content {
  color:#FFF;
}

.page-template-frontpage-php .home-slider ul li.orange span.slide-sub-title, .page-template-frontpage-php .home-slider ul li.orange a.slide-link {
  color:#f6ce3c;
}

.page-template-frontpage-php .home-slider ul li.yellow {
  background-color:#f6ce3c;
}

.page-template-frontpage-php .home-slider ul li.yellow span.slide-title, .page-template-frontpage-php .home-slider ul li.yellow .slide-content {
  color:#55575a;
}

.page-template-frontpage-php .home-slider ul li.yellow span.slide-sub-title, .page-template-frontpage-php .home-slider ul li.yellow a.slide-link {
  color:#e75204;
}

.page-template-frontpage-php .home-slider ul li.green {
  background-color:#b6bd00;
}

.page-template-frontpage-php .home-slider ul li.green span.slide-title {
  color:#00609c;
}

.page-template-frontpage-php .home-slider ul li.green .slide-content {
  color:#FFF;
}

.page-template-frontpage-php .home-slider ul li.green span.slide-sub-title, .page-template-frontpage-php .home-slider ul li.green a.slide-link {
  color:#e75204;
}

.page-template-frontpage-php .home-slider ul li.gray {
  background-color:#8a8a8d;
}

.page-template-frontpage-php .home-slider ul li.gray span.slide-title {
  color:#f6ce3c;
}

.page-template-frontpage-php .home-slider ul li.gray .slide-content {
  color:#FFF;
}

.page-template-frontpage-php .home-slider ul li.gray span.slide-sub-title, .page-template-frontpage-php .home-slider ul li.gray a.slide-link {
  color:#b6bd00;
}

.page-template-frontpage-php .home-slider ul li.teal {
  background-color:#00C1DE;
}

.page-template-frontpage-php .home-slider ul li.teal span.slide-title, .page-template-frontpage-php .home-slider ul li.teal .slide-content {
  color:#FFF;
}

.page-template-frontpage-php .home-slider ul li.teal span.slide-sub-title, .page-template-frontpage-php .home-slider ul li.teal a.slide-link {
  color:#F6CE3C;
}

.page-template-frontpage-php .home-slider ol {
  margin:0;
  padding:0;
  list-style:none;
  position:absolute;
  display:none;
  bottom:1.5em;
  left:1.25em;
  opacity:0;
  transition:opacity 2s ease-in-out;
  z-index:50;
}

.page-template-frontpage-php .home-slider ol.active {
  opacity:1;
}

.page-template-frontpage-php .home-slider ol li {
  margin:0 .25em 0 0;
  float:left;
}

.page-template-frontpage-php .home-slider ol li a {
  overflow:hidden;
  padding:.5em;
  background-color:rgba(255, 255, 255, 1);
  border-radius:50%;
  width:35px;
  height:35px;
  display:block;
  text-indent:-999em;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.page-template-frontpage-php .home-slider ol li.active a {
  background-color:rgba(0, 96, 156, 1);
}

.page-template-frontpage-php .home-slider ol li a:focus {
  outline:none;
}

.page-template-frontpage-php .home-carousel-nav {
  overflow:hidden;
  padding:.3em;
  position:absolute;
  bottom:10px;
  z-index:50;
}

.page-template-frontpage-php .home-carousel-nav:after {
  font-family: 'EntypoRegular';
  color:#FFF;
  font-size:2.2em;
  line-height:.1;
  vertical-align:-3px;
}

.page-template-frontpage-php #home-carousel-next {
  right:.7em;
}

.page-template-frontpage-php #home-carousel-next:after {
  content:'\E766';
}

.page-template-frontpage-php #home-carousel-prev {
  right:2.5em;
}

.page-template-frontpage-php #home-carousel-prev:after {
  content:'\E765';
}