h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}

h1 {
	color: $color__h1;
	font-family: $font__bold;
}

h2 {
	color: $color__h2;
	font-family: $font__bold;
}

.specials {
	h2 {
		color: $color__h2-specials;
		font-family: $font__heavy;
	}

	h3 {
		color: $color__h3-specials;
	}
}

.form-quick-contact-wrapper {
	h2 {
		color: $color__h2-quick-form;
	}
}

.features {
	h2 {
		color: $color__h2-features;
		background-color: $color__brand-2;
		padding: 5px;
	}
}