.right-sidebar {

  .features {

    h2 {
      color: $color__h2-features;
      background-color: $color__h2-background-features;
      padding: 5px;
      text-align: center;
    }

    @include respond-to('1150') {
      font-size: .9em;
      // padding-top: .5em;

      h2 {
        font-size: 1.2em;
        margin: 0;
      }

      .wrapper {
        padding: 1em 0;
      }

    }
  }

  .features-disclaimer {
    margin: 1em 0;
  }
}