/*--------------------------------------------------------------
### Homepage Slider
--------------------------------------------------------------*/
.page-template-frontpage {

  .home-slider {
    clear:both;
    position:relative;

    img {
      width:100%;
      height:auto;
    }

    ul {
      position:relative;
      min-height:300px;
      list-style:none;
      margin:0;
      padding:0;
      overflow:hidden;

      li {
        position:absolute;
        top:0;
        bottom:0;
        width:100%;
        padding:2.5em 1em 1.5em;
        opacity:0;
        z-index:5;

        &.active {
          opacity:1;
          z-index:50;
        }
      }
    }

    ol {
      margin:0;
      padding:0;
      list-style:none;
      position:absolute;
      display:block;
      bottom:1.5em;
      left:1.25em;
      opacity:1;
      transition:opacity 2s ease-in-out;
      z-index:50;

      .active {
        opacity:1;
      }

      .active a{
        background-color:rgba(0, 96, 156, 1);
      }

      li {
        margin:0 .25em 0 0;
        float:left;

        a {
          overflow:hidden;
          padding:.5em;
          background-color:red;
          border-radius:50%;
          width:35px;
          height:35px;
          display:block;
          text-indent:-999em;
          transition: opacity 1s ease-in-out;
        }
      }
    }
  }
}


.page-template-frontpage-php .home-slider ol li

.page-template-frontpage-php .home-slider ol li.active

.page-template-frontpage-php .home-slider ol li a:focus {
  outline:none;
}

// .page-template-frontpage-php .home-carousel-nav {
//   overflow:hidden;
//   padding:.3em;
//   position:absolute;
//   bottom:10px;
//   z-index:50;
// }

// .page-template-frontpage-php .home-carousel-nav:after {
//   font-family: 'EntypoRegular';
//   color:#FFF;
//   font-size:2.2em;
//   line-height:.1;
//   vertical-align:-3px;
// }

// .page-template-frontpage-php #home-carousel-next {
//   right:.7em;
// }

// .page-template-frontpage-php #home-carousel-next:after {
//   content:'\E766';
// }

// .page-template-frontpage-php #home-carousel-prev {
//   right:2.5em;
// }

// .page-template-frontpage-php #home-carousel-prev:after {
//   content:'\E765';
// }